<!doctype html>
<html ng-app>
<html class="no-js" lang="">
  
  <head>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <title>test</title>
    <!-- <meta http-equiv="refresh" content="500" > -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <link rel="stylesheet" href="assets/css/slicknav.min.css">
        <link rel="stylesheet" href="assets/css/fonticons.css">
        <link rel="stylesheet" href="assets/fontcss/style.css">
        <link rel="stylesheet" href="assets/fonts/stylesheet.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />

        <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  </head>
  
  <body>
         <header class="header navbar-fixed-top">
            <div class="navbar navbar-default main-menu">

                <div class="container">
                    <div class="navbar-header">
                        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>-->
                        <a  href="" class="navbar-brand"><img src="assets/images/logo.png" alt="Logo" /></a>

                    </div>
                    <div class="collapse navbar-collapse">

                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <a href="" class="btn_search"><i class="fa fa-search"></i></a>
                            </div>
                            <div class="main-navigation">
                                
                                <ul id="menu" class="nav navbar-nav">
                                    <li><a href="#home">Home</a></li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#features">Features</a></li>
                                    <li><a href="#portfolio">Portfolio</a></li>
                                    <li><a href="#service">Service</a></li>
                                    <li><a href="#news">News</a>
                                        <ul >
                                            <li><a href="#home">Home</a></li>
                                            <li><a href="#about">About</a></li>
                                            <li><a href="#features">Features</a></li>
                                            <li><a href="#portfolio">Portfolio</a></li>
                                            <li><a href="#service">Service</a></li>
                                            <li><a href="#news">News</a></li>
                                            <li><a href="#contact">Contact</a></li>
                                        </ul></li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </div>


                        </form>
                    </div>

                </div>
            </div> 
        </header><!-- end of navbar -->
    <div>
	<!--
      <h1>Housing Connect</h1>
      <hr/>
      <h2>Enter your info</h2>
	 
      <label>Name:</label>
      <input type = "text" ng-model = "yourName" placeholder = "Enter a name here" required>

      <br/>
      <label>Phone Number:</label>
      <!--<input type="number" ng-model="youtPhone" min="0" max="9999999999" required> --.>
	  
      <input type = "number" ng-model = "yourPhone" placeholder = "(xxx)-xxx-xxxx">

      <br/>
      <label>Email Address:</label>
      <input type = "email" ng-model = "yourEmail" placeholder = "JohnDoe@email.com" required>

      <br/>
      <label>Bio:</label>

      <br/>
      <textarea name="bio" ng-model="yourBio" cols="40" rows="20" placeholder = "Enter a biography" required></textarea>
         
      <h3>Hello {{yourName}}!</h1>
      <p>Phone: {{yourPhone}}</p>
      <p>Email: {{yourEmail}}</p>
      <hr/>
      <p>Your bio is:&#13;&#10;{{yourBio}}</p>
-->
    </div>
      
  </body>
</html>
