* {box-sizing: border-box;}

html, body {
  font-family: arial;
  margin: auto;
  width: 1000px;
  min-height: -webkit-fill-available;
  background-color: DarkCyan;
  border-radius: 25px;
}

h1 {
  font-size: 48px;
}

#profile {
  text-align:left;
  background-color: LightGrey;
  padding-top: 10px;
  margin: 10px;
  font-family: arial;
  width: 90%;
  border: 0px;
  text-align: left;
}

#listing {
	background-color: LightGrey;
	border-radius: 0px;
	margin: 10px;
	font-family: arial;
  font-size: 15px;
	width: 590px;
	border: 0px;
	text-align: left;
  display: flex;
}

#text {
  display:inline;
  width:50%;
}

#imageBig {
  background-size:100% 100%;
  width: 450px;
  height: 250px;
}

#imageSmall {
  background-position: center;
  background-size:100% 250px;
  width: 450px;
  height: 70px;
}

#delete {
  background-color: #3CBC8D;
  color: white;
  display: block;
  border: 0px;
  border-radius: 2px;
  float: right;
  margin-right: 0;
  width:80px;
}

.container {
  display: flex;
  width: 100%;
  flex: 1 1 auto;

}

checkbox{
	padding: 10px;
}


/*
.navigation {
  background-color: skyblue;
  height: 10%;
}

.navigation li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

.navigation ul {
  display: inline;
}
*/

#logo {
	font-family: arial;
	color: white;
	float: right;
	font-weight: bold;
	padding-right: 20px;
}

.login {
background-color: #3CBC8D;
    color: white;
  border: 0px;
  margin: 3px;
  height: 18px;
}


input[type=text] {
    background-color: #3CBC8D;
    color: white;
	border: 0px;
    border-radius: 4px;
	float: right;
	margin-right: 10px;
	height: 18px;
}

select {
    background-color: #3CBC8D;
    color: white;
	border: 0px;
    border-radius: 4px;
	float: right;
	margin-right: 10px;
	height: 18px;
}

input[type=number] {
    background-color: #3CBC8D;
    color: white;
	border: 0px;
    border-radius: 4px;
	float: right;
	margin-right: 10px;
	height: 18px;
	width:80px;
}

#logout {
    background-color: #3CBC8D;
    color: white;
	border: 0px;
    border-radius: 2px;
	float: right;
	margin-right: 4rem;
	width:80px;
}

#saveBtn {
      background-color: #3CBC8D;
    color: white;
  border: 0px;
    border-radius: 2px;
  float: right;
  margin: 5px;
  margin-right: 50px;
  width:120px;
}

#add {
    background-color: #3CBC8D;
    color: white;
	border: 0px;
    border-radius: 2px;
	float: right;

	width:80px;
}


.left-bar {
  background-color: #0d0d73;
  max-width: 10%;
  min-width: 280px;
  flex: 1;
  color: #c5c6c7;
  padding-bottom: 10px;
  border-bottom-left-radius: 25px; 
}

.left-bar h2 {
  padding-left: 20px;
}

.search-settings{
  padding-left: 20px;
}

.priceRange{
  display: inline;
}

#addListingInput{
	background-color: LightGrey;
	padding-top: 10px;
	margin: 10px;
	font-family: arial;
	width: 90%;
	border: 0px;
	text-align: left;
}

.main {
  background-color: #aec6cf;
  justify-content: right;
  padding-left: 4rem;
  flex: 1;
  padding-bottom: 20px; 
  border-bottom-right-radius: 25px;
}

.topnav {
  overflow: hidden;
  background-color: #0b0c10;
  flex: 0 1 auto;
}

.topnav a {
  float: left;
  display: block;
  color: #c5c6c7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #1f2833;
  color: #c5c6c7;
}

.topnav a.active {
  background-color: #66fcf1;
  color: #0b0c10;
}

#typeIn, #bedIn, #bathIn {
	margin-left: 11px;
	width: 163px;
}
