<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <title>true facts.</title>
</head>
<body>
<h1>true facts.</h1>
<div id="inject"></div>

<button id="add" type="button">{{text}}</button>

<script src="loadfb.js"></script>

</body>
</html>