<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
        <script src="src/init.js"></script>
        <title>Title</title>
    </head>
    <body>
        <div id="login">
            <h1>Login</h1>
            <input id="txtEmail" type="email" placeholder="Enter Email"/>
            <input id="txtPassword" type="password" placeholder="Enter Password"/>
            <button onclick="login()">Login</button>
            <button onclick="goToSignUp()">Create an Account</button>
        </div>

        <div style="display:none" id="signUp">
            <h1>Sign Up</h1>
            <input id="sEmail" type="email" placeholder="Enter Email"/>
            <input id="sPassword" type="password" placeholder="Enter Password"/>
            <button onclick="signUp()">Signup</button>
            <button onclick="cancel()">Cancel</button>
        </div>
        <script src="src/login.js"></script>
    </body>
</html>
