<!DOCTYPE html>
<html ng-app lang="en">
<head>
  <meta charset = "UTF-8">
  <title>Housing Connect</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel = "stylesheet" type = "text/css" href = "CSS/main.css">
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <script src = "https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script src = "src/init.js"></script>
</head>

<body>

  <div class="topnav">
    <p id="logo"> HOUSING CONNECT</p>
  </div>

    <div class="container">

      <div class="left-bar">
        <h2></h2>
          <div class="search-settings">
            <div>
               
            </div>
        </div>
      </div>

      <div class="main">

      <div id="login">
          <h1>Login</h1>
          <input id="txtEmail" type="email" placeholder="Enter Email"/>
          <br>
          <input id="txtPassword" type="password" placeholder="Enter Password"/>
          <br>
          <button onclick="login()">Login</button>
          <br>
          <button onclick="goToSignUp()">Create an Account</button>
      </div>

      <div style="display:none" id="signUp">
          <h1>Sign Up</h1>
          <input id="sEmail" type="email" placeholder="Enter Email"/>
          <input id="sPassword" type="password" placeholder="Enter Password"/>
          <button onclick="signUp()">Signup</button>
          <button onclick="cancel()">Cancel</button>
          <br>
          <input type="radio" id="tenant" name="group" checked="checked"> Tenant &nbsp
          <input type="radio" id="homeowner" name="group"> Homeowner<br>
      </div>
      <script src="src/login.js"></script>

    </div>
  </div>
  </body>
</html>
