<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>true facts.</title>
    </head>
    <body>
        <h1>true facts.</h1>

        <ul>
            {{#each facts}}
            <li>{{this.text}}</li>
            {{/each}}
        </ul>


        <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
        <script>
            // Initialize Firebase
            let config = {
                apiKey: "AIzaSyAsIVIv2lVn2uyvqNv8G5ZktX_4HPzWXMc",
                authDomain: "housingconnect-3abbc.firebaseapp.com",
                databaseURL: "https://housingconnect-3abbc.firebaseio.com",
                projectId: "housingconnect-3abbc",
                storageBucket: "housingconnect-3abbc.appspot.com",
                messagingSenderId: "288270102804"
            };
            firebase.initializeApp(config);
        </script>

    </body>
</html>