* {box-sizing: border-box;}

html, body {
  font-family: helvatica;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 48px;
}

p {
  max-width: 65%;
  min-width: 500px;
}

div {

}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

/*
.navigation {
  background-color: skyblue;
  height: 10%;
}

.navigation li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

.navigation ul {
  display: inline;
}
*/

.left-bar {
  background-color: #0d0d73;
  max-width: 10%;
  min-width: 140px;
  flex: 1;
  color: #c5c6c7;
}

.left-bar h2 {
  padding-left: 20px;
}

.search-settings{
  padding-left: 20px;
}

.priceRange{
  display: inline;
}

.main {
  background-color: #aec6cf;
  justify-content: right;
  padding-left: 4rem;
  min-width: 75%;
  flex: 1;
}

.topnav {
  overflow: hidden;
  background-color: #0b0c10;
}

.topnav a {
  float: left;
  display: block;
  color: #c5c6c7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #1f2833;
  color: #c5c6c7;
}

.topnav a.active {
  background-color: #66fcf1;
  color: #0b0c10;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #1f2833;
  color:#c5c6c7;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #1f2833;
}

@media screen and (max-width: 830px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
